
.mainText {
    text-align: center;   
    font-family: "Slackside One", cursive;
    font-size: 3.5rem;
    margin: 0;
}

.mainDiv {

   text-align: center;

}

.iconPosition {

    position: absolute;
    left: 5%;
    top: 25%;
    
}

.title {
    font-size: 2rem;
    margin: 20px;
}

.textAbout {
    font-size: 2rem;
    margin: 20px;
    margin-top: 40px;
}

.styleDivSkills { 
    display:inline-flex;
    margin: 10px;


    background-color: white;
    padding: 0px 30px ;

    
    border: 4px solid rgb(61, 61, 61);

    line-height: 1;

}

.textSkill {
    margin: 15px 5px;
    font-size: 2rem;
}



.hoverAnimation:hover {
    size: 1.2;
}

.mainDivScroll {

    width: 95%;
    position: relative;
    left: 2.5%;
    
    height: 450px;

    overflow-y: scroll;
    
    box-shadow: inset 0 0 13px black;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.mainDivScroll::-webkit-scrollbar {
    width: 16px;
}

.mainDivScroll::-webkit-scrollbar-track {

    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

.mainDivScroll::-webkit-scrollbar-thumb {
   background-clip: content-box;
    background-color: #A25772;
}

.textTitle {
    
    font-size: 1.5rem;
    margin: 10px;
    padding: 10px;
    border: solid 3px black;
    background-color: white;

    width: 80%;

    position: relative;
    left: 5%;
    
    cursor: pointer;
    
}

.projectsDiv {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(23rem, 100%), 1fr));
}

.textProject {
    font-size: 2rem;
}

@media only screen and (min-width: 1220px) {
   
    .mainText {
        position: relative;
        right: 100px;
    }

    .mainDiv {

     
        position: relative;
        right: 100px;
     
     
     }

  }

  @media only screen and (max-width: 500px) {

    .textAbout {
        font-size: 1.7rem;
    }

    .textSkill {
        font-size: 1.7rem;
    }

    .title {
    font-size: 1.7rem;
    }

}

  /*     font-size: 1.5rem; */